@model IEnumerable<IOApplication.Models.Pracownicy>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Pracowników</h2>

<p>
    @Html.ActionLink("Dodaj Pracownika", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZatrudnienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrBankowy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Haslo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodPocztowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUrodzenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZatrudnienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrBankowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Haslo)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IdPracownika }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.IdPracownika }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdPracownika })
        </td>
    </tr>
}

</table>
