@model IOApplication.Models.Karnet

@{
    ViewBag.Title = "Delete";
}
@Styles.Render("~/Content/podstrona.css")

<div class="container full-page">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 mt-10 mb-10">

            <h2>Usuń</h2>

            <h3>Jesteś pewien że chcesz usunąć?</h3>
            <div>
                <h4>Karnet</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Dni)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Dni)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Koszt)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Koszt)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Usuń" />
                        <button>@Html.ActionLink("Wróć do listy", "Index")</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
