@model IEnumerable<IOApplication.Models.Klient>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/podstrona.css")

<div class="container full-page">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
            <h2>Lista Klientów</h2>

            <div>
                <button>
                    @Html.ActionLink("Dodaj Klienta", "Create")
                </button>
                <button>
                    @Html.ActionLink("Pokaz Wygasły Karnet", "FiltrLapsed")
                </button>
            </div>
            <div>
                @using (Html.BeginForm("Index", "Klient", FormMethod.Get))
                {
                    @Html.TextBox("searching")
                    <input type="submit" value="szukaj" />
                    <button>@Html.ActionLink("Wyczyść", "Index")</button>

                }
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Imie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nazwisko)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataDoladowania)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Karnet1.Dni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataWygasniecia)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Zajecia.Nazwa)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Imie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwisko)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Telefon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataDoladowania)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Karnet1.Dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataWygasniecia)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Zajecia.Nazwa)
                        </td>
                        <td>
                            <button>
                                @Html.ActionLink("Edytuj", "Edit", new { id = item.IdKlienta })
                            </button>
                            <button>
                                @Html.ActionLink("Szczegóły", "Details", new { id = item.IdKlienta })
                            </button>
                            <button>
                                @Html.ActionLink("Usuń", "Delete", new { id = item.IdKlienta })
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>